@import "tailwindcss";

@layer utilities {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}

@theme {
   --color-primary: oklch(0.6231 0.188 259.81);
   --color-secondary: oklch(0.5854 0.2041 277.12);
   --color-success: oklch(0.6959 0.1491 162.48);
   --color-warning: oklch(0.7686 0.1647 70.08);
   --color-danger: oklch(0.6368 0.2078 25.33);
}